@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,800;1,400&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Prompt";
    background-color: #031A24;
}
body::-webkit-scrollbar {
    display: none;
}
.container {
    display: flex;
    margin: 1rem;
    justify-content: center;
    gap: 6rem;
    

}
.logo{
    align-self: baseline;
}

textarea{
    border: none;
    resize: none;
    padding: 0;
    color: #E1EDF1;
    font-size: 20px;
    padding-top: 4rem;
    background-color: #031A24;
}

textarea::placeholder{
    color: #E1EDF1;
    font-size: 20px;
}
textarea:focus {
    border: none;
    outline: none;
    
}
.texto {
    height: 90vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.texto label {
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem ;
    color: gray;
    
}
i {
    margin-right: 10px;
}
.buttons{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}


.btn-encriptar{
    border:  2px solid #09688E;
    width: 45%;
    height: 4rem;
    border-radius: 15px;
    background-color: #09688E;
    color: #E1EDF1;
    font-weight: bold;
    font-size: 1rem;
}

.btn-encriptar:hover {
    background-color: #E1EDF1;
    color: #09688E;
    box-shadow:  1px  1px  20px  2px   #09688E;
}

.btn-desencriptar{
    border:  2px solid #09688E;
    width: 45%;
    height:4rem;
    border-radius: 15px;
    background-color: #E1EDF1;
    color: #09688E;
    font-weight: bold;
    font-size: 1rem;
}

.btn-desencriptar:hover {
    background-color: #09688E;
    color: #E1EDF1;
    box-shadow:  1px  1px  20px  2px   #09688E;
}
.texto-modificado{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #09688E;
    border-radius: 15px;
    box-shadow:  1px  1px  20px  2px   #09688E;
    color: #E1EDF1;
}

.texto-modificado img{
    width: 70%;
    height: 50%;
}

.text-1 {
    
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
}
.text-2 {
    
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}
.text-2::selection{
    background-color: #09688E;
}
#btn-copiar{
    border:  2px solid #031A24;
    width: 45%;
    height: 3rem;
    border-radius: 15px;
    background-color: #E1EDF1;
    color: #031A24;
    font-weight: bold;
    font-size: 1rem;
}

#btn-copiar:hover {
    background-color: #031A24;
    color: #E1EDF1;
    box-shadow:  1px  1px  20px  2px   #031A24;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #E1EDF1;
    font-size: 1rem;
    margin-top: 2rem;
}
footer i{
    font-size: 1.5rem;
}

@media (max-width: 1024px) {
    .texto-modificado img{
        display: none;
    }
    .container {
        flex-direction: column;
        margin: 1rem;
        gap: 0;
        align-items: center;
    }
    .texto {
        width: 90%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .btn-encriptar{
        height:5rem;
        font-size: 1.5rem;
    }
    .btn-desencriptar{
        height:5rem;
        font-size: 1.5rem;
    }
    .texto-modificado{
        margin-top: 2rem;
        width: 90%;
        height: 6rem;
    }
    footer {
        font-size: 1rem;
        margin-top: 2rem;

    }
    footer p{
        text-align: center;
    }
    footer i{
        font-size: 2rem;
    }
}
@media (max-width: 480px)  {
    .texto {
        width: 90%;
        height: 70vh;
    }
    textarea{
        font-size: 1rem;
    }
    textarea::placeholder{
        font-size: 1rem;
    }
    .buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn-encriptar{
        height:3.5rem;
        font-size: 1rem;
        width: 100%;
    }
    .btn-desencriptar{
        height:3.5rem;
        font-size: 1rem;
        width: 100%;
    }
    .texto-modificado{
        width: 90%;
        height: 15rem;
    }
    footer {
        font-size: 0.75rem;
        margin-top: 6rem;
    }
    footer i{
        font-size: 1.5rem;
    }
}